MQTT-NodeRED/flows.json
[
    {
        "id": "2c252647d5e2d253",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43c1369cc772058e",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "maqiatto.com",
        "port": "1883",
        "tls": "407b05ba528c502a",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "407b05ba528c502a",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "2c6e4e40333881ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4f2343c40caa8f9b",
        "type": "ui_tab",
        "name": "Accueil",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbb23f8b.85e49",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4239ebf0.1cdba4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c29f1c.e703f1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a36dc1b9e8debaa9",
        "type": "ui_group",
        "name": "Localisation",
        "tab": "4f2343c40caa8f9b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a9d42efdf230d4b",
        "type": "ui_tab",
        "name": "Itineraire",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da56cf9db3bcb38f",
        "type": "ui_group",
        "name": "Ajout de points",
        "tab": "0a9d42efdf230d4b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "76482b98b8ae334a",
        "type": "mqtt in",
        "z": "2c252647d5e2d253",
        "name": "",
        "topic": "attiaoussama06@gmail.com/Location/AB123CD",
        "qos": "2",
        "datatype": "auto",
        "broker": "43c1369cc772058e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "f21a304828874991",
                "e4692ac47176f519"
            ]
        ]
    },
    {
        "id": "29d9d702d2b2d10a",
        "type": "mqtt out",
        "z": "2c252647d5e2d253",
        "name": "",
        "topic": "attiaoussama06@gmail.com/Location/AB123CD",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c1369cc772058e",
        "x": 600,
        "y": 780,
        "wires": []
    },
    {
        "id": "49f37f83c3851e15",
        "type": "inject",
        "z": "2c252647d5e2d253",
        "name": "AB123CD",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Oussama/43.123456/7.117253",
        "payloadType": "str",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "29d9d702d2b2d10a"
            ]
        ]
    },
    {
        "id": "04a0ede9576ea624",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 560,
        "wires": []
    },
    {
        "id": "f21a304828874991",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "array = msg.payload.split(\"/\");\nfor (var i = 0; i < array.length; i++) {\n     array[i] = array[i].trim()\n }\n//msg.topic = array[1];  \nmsg.payload = {};\nmsg.payload.name = array[0];\nmsg.payload.lat = array[1];\nmsg.payload.lon = array[2];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "04a0ede9576ea624",
                "139e4403fc3d02cd",
                "5a82c763e03e2e99"
            ]
        ]
    },
    {
        "id": "f766bddc10ee1e72",
        "type": "template",
        "z": "2c252647d5e2d253",
        "name": "Add Map to Dashboard",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src={{{payload.url}}} height=750px width=1000px ></iframe>",
        "output": "str",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "f9e935494075ccca"
            ]
        ]
    },
    {
        "id": "3c3c7fb557d8ef41",
        "type": "inject",
        "z": "2c252647d5e2d253",
        "name": "Init WorldMap",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "8d5402c9e1f86e45"
            ]
        ]
    },
    {
        "id": "8d5402c9e1f86e45",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "Inject /worldmap",
        "func": "msg.payload =   {\n                url : \"/worldmap\",\n                command : {\n                        layer:\"OSM\",\n                        lat:43.70795211194847,\n                        lon:7.28915290185956,\n                        zoom:5,\n                        map: { name: \"OSM\" },\n                        addtoheatmap:true, \n                        autopan:true\n                        }\n                };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 700,
        "wires": [
            [
                "f766bddc10ee1e72"
            ]
        ]
    },
    {
        "id": "139e4403fc3d02cd",
        "type": "worldmap",
        "z": "2c252647d5e2d253",
        "name": "",
        "lat": "43.707952",
        "lon": "7.289153",
        "zoom": "8",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "5a82c763e03e2e99",
        "type": "worldmap-tracks",
        "z": "2c252647d5e2d253",
        "name": "",
        "depth": "100",
        "layer": "combined",
        "smooth": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "139e4403fc3d02cd"
            ]
        ]
    },
    {
        "id": "f9e935494075ccca",
        "type": "ui_template",
        "z": "2c252647d5e2d253",
        "group": "a36dc1b9e8debaa9",
        "name": "Embedded Map",
        "order": 0,
        "width": "20",
        "height": "15",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e4692ac47176f519",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "array = msg.payload.split(\"/\");\nfor (var i = 0; i < array.length; i++) {\n     array[i] = array[i].trim()\n }\n//msg.topic = array[1];  \nmsg.payload = {};\nmsg.payload.name = array[0];\nmsg.payload.lat = array[1];\nmsg.payload.lon = array[2];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "76c06a65993b2677"
            ]
        ]
    },
    {
        "id": "76c06a65993b2677",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "d9f6c582cb6e35b2",
        "type": "http request",
        "z": "2c252647d5e2d253",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "localhost:3000/itineraire",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "7f5534d0333655a3"
            ]
        ]
    },
    {
        "id": "3adff8bb9e0dcd08",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "const temp = JSON.parse(JSON.stringify(msg.payload));\nfor (const [key, value] of Object.entries(msg.payload)) {\n    if(key.name){\n        return;\n    }\n    msg.payload[key] = {\n        latDiff: msg.payload.loc.lat - value.latitude,\n        lonDiff: msg.payload.loc.lon - value.longitude\n    }\n}\nmsg.payload.positions = temp\ndelete msg.payload.loc\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1020,
        "wires": [
            [
                "125c4cc675f1b115",
                "36d974f332c3f3a6"
            ]
        ]
    },
    {
        "id": "ca31523e2c763f3b",
        "type": "mqtt in",
        "z": "2c252647d5e2d253",
        "name": "",
        "topic": "attiaoussama06@gmail.com/Location/AB123CD",
        "qos": "2",
        "datatype": "auto",
        "broker": "43c1369cc772058e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 940,
        "wires": [
            [
                "4f38c05f5f76a577",
                "d9f6c582cb6e35b2"
            ]
        ]
    },
    {
        "id": "4f38c05f5f76a577",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "array = msg.payload.split(\"/\");\nfor (var i = 0; i < array.length; i++) {\n     array[i] = array[i].trim()\n }\nmsg.payload = {}\nmsg.payload.loc = {};\nmsg.payload.loc.name = array[0];\nmsg.payload.loc.lat = parseFloat(array[1]);\nmsg.payload.loc.lon = parseFloat(array[2]);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 940,
        "wires": [
            [
                "86392187435a6ba9"
            ]
        ]
    },
    {
        "id": "125c4cc675f1b115",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1020,
        "wires": []
    },
    {
        "id": "86392187435a6ba9",
        "type": "join",
        "z": "2c252647d5e2d253",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "3adff8bb9e0dcd08"
            ]
        ]
    },
    {
        "id": "7f5534d0333655a3",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "msg.payload.points\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1080,
        "wires": [
            [
                "86392187435a6ba9"
            ]
        ]
    },
    {
        "id": "36d974f332c3f3a6",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "const low = -0.001;\nconst high = 0.001;\n\n\nif ( msg.payload[1].latDiff > low && msg.payload[1].latDiff < high) {\n  msg.payload = msg.payload.positions[1];\n}\nelse {\n    msg = false\n}\nmsg.topic = \"attiaoussama06@gmail.com/Location/alert\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1100,
        "wires": [
            [
                "f82c088012814018",
                "81ee4db5d70de41c"
            ]
        ]
    },
    {
        "id": "f82c088012814018",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1160,
        "wires": []
    },
    {
        "id": "81ee4db5d70de41c",
        "type": "mqtt out",
        "z": "2c252647d5e2d253",
        "name": "",
        "topic": "attiaoussama06@gmail.com/Location/alert",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c1369cc772058e",
        "x": 1170,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c437b96805ad3f63",
        "type": "mqtt in",
        "z": "2c252647d5e2d253",
        "name": "",
        "topic": "attiaoussama06@gmail.com/Location/alert",
        "qos": "0",
        "datatype": "json",
        "broker": "43c1369cc772058e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "0b3381d13157e7fc"
            ]
        ]
    },
    {
        "id": "0b3381d13157e7fc",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "bb22ba0b7be520c1",
        "type": "ui_form",
        "z": "2c252647d5e2d253",
        "name": "",
        "label": "",
        "group": "da56cf9db3bcb38f",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "latitude",
                "value": "latitude",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "longitude",
                "value": "longitude",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "adresse",
                "value": "adresse",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "client",
                "value": "client",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "eta",
                "value": "eta",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "latitude": "",
            "longitude": "",
            "adresse": "",
            "client": "",
            "eta": ""
        },
        "payload": "",
        "submit": "Envoyer",
        "cancel": "Annuler",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "f8e4f305120d8547"
            ]
        ]
    },
    {
        "id": "9352be87f0a66c65",
        "type": "debug",
        "z": "2c252647d5e2d253",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f8e4f305120d8547",
        "type": "http request",
        "z": "2c252647d5e2d253",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:3000/itineraire",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 900,
        "y": 1600,
        "wires": [
            [
                "9352be87f0a66c65"
            ]
        ]
    },
    {
        "id": "1e4d9d5bad2459c8",
        "type": "function",
        "z": "2c252647d5e2d253",
        "name": "",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\n\nmsg.payload = {\n    \"address\": \"12345:2\",\n    \"object_type\": \"analogValue\",\n    \"object_instance\": \"302\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1800,
        "wires": [
            []
        ]
    }
]